.Home-Hero{
    padding-top: 10vh;
}

.Home-Hero-BG img{
    height: 90vh;
    width: 100%;

    object-fit: cover;
}
.Home-Hero-BG{
    width: 100%;
    
    position: relative;
    top:0;
    left:0;
}
.Home-Hero-BG-ColorScale{
    width: 100%;
    height: 90vh;

    background-color: #120024cc;

    position: absolute;
    top:0;
    left:0;
}
.Home-Hero-Cont{
    width: 100%;
    height: 90vh;

    font-family: var(--Font1);

    position: absolute;
    top: 0;
    left:0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home-Hero-Welcome{
    color: #FBAD41;
    font-size: 36px;
    margin: 0px;
}
.Home-Hero-LogoCircle{
    background-color: white;

    width: 313px;
    height: 300px;
    margin-top: 20px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Home-Hero-LogoCircle img{
    width: 240px;
    height: 130px;
}
.Home-Hero-Words{
    width: 80%;
    font-size: 17pt;
    margin: 0px;

    color: white;
    
    text-align: center;
}
.Home-Hero-But{
    background-color: #7636C8;
    color: white;
    font-family: var(--Font1);

    width: 190px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 40px;
    border: none;

    text-decoration: none;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Home-Hero-Title-Cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px;
}
.Home-Hero-Title{
    color:red;
    font-family: var(--Font4);
    font-size: 50px;
    margin: 0px;
}
.Home-Hero-Title span{
    color: white;
}
.Home-Hero-SubTitle{
    color: white;
}

@media (max-width:650px) {
    .Home-Hero-Words{
        font-size: 14pt;
    }
    .Home-Hero-Title-Cont{
        padding: 20px 0px;
    }
}
@media (max-width:500px) {
    .Home-Hero-Title{
        font-size: 30pt;
    }
    .Home-Hero-Welcome{
        font-size: 20pt;
    }
    .Home-Hero-SubTitle{
        font-size: 10pt;
    }
    .Home-Hero-Title-Cont{
        padding-bottom: 40px;
    }
}


/* Services */

.Home-Services-Cont{
    background-color: rgb(35, 144, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    border-radius: 20px;
    height: 400px;
    position: relative;
}
.Home-Services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 80px 0px;
}
.Home-Services-R img{
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
}
.Home-Services-R{
    position: absolute;
    width: 100%;
    height: 100%;
}
.Home-Services-L{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 85%;
    position: absolute;
    color: white;
}
.Home-Services-L p{
    text-align: justify;
    line-height: 25px;
    font-size: 14pt;
}
.Home-Services-But{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}
.Home-Services-But:hover{
    background-color: white;
    color: #7636C8;
}

@media (max-width:1056px) {
    .Home-Services-Cont{
        height: 420px;
        margin-bottom: 40px;
    }
}

@media (max-width:1010px) {
    .Home-Services-L p{
        font-size: 12pt;
    }
    .Home-Services-L h1{
        font-size: 15pt;
    }
}
@media (max-width:840px) {
    .Home-Services{
        flex-direction: column;
    }
    .Home-Services-Cont{
        width: 80%;
        height: 300px;
        margin-bottom: 40px;
    }
    .Home-Services-L{
        height: 80%;
    }
}
@media (max-width:545px) {
    .Home-Services-Cont{
        height: 350px;
    }
}
@media (max-width:390px) {
    .Home-Services-Cont{
        height: 400px;
    }
    .Home-Services-L p{
        font-size: 10pt;
    }
    .Home-Services-L h1{
        font-size: 13pt;
    }
}

/* Products */

.Home-Products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(35, 144, 187);
    padding: 20px 0px;
    width: 100%;
    overflow: hidden;
}
.Home-Products-Cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    font-size: 14pt;
}
.Home-Products-Card{
    background-color: white;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    border-radius: 20px;
    padding: 30px;
    text-decoration: none;
    color: black;
    text-align: justify;
    cursor: pointer;
}
.Home-Products-Card:hover{
    background-color: whitesmoke;
}
.Home-Products-Title{
    font-size: 20pt;
}
.Home-Products-But{
    text-decoration: none;
    background-color: white;
    padding: 15px 20px;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}
.Home-Products-Name{
    font-size: 16pt;
}
.Home-Product-Img{
    width:100%;
    height: 50%;
}
.Home-Product-Img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}