.Home-Hero{
    padding-top: 10vh;
}

.Home-Hero-BG img{
    height: 90vh;
    width: 100%;

    object-fit: cover;
}
.Home-Hero-BG{
    width: 100%;
    
    position: relative;
    top:0;
    left:0;
}
.Home-Hero-BG-ColorScale{
    width: 100%;
    height: 90vh;

    background-color: #120024cc;

    position: absolute;
    top:0;
    left:0;
}
.Home-Hero-Cont{
    width: 100%;
    height: 90vh;

    font-family: var(--Font1);

    position: absolute;
    top: 0;
    left:0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home-Hero-Welcome{
    color: #FBAD41;
    font-size: 36px;
    margin: 0px;
}
.Home-Hero-LogoCircle{
    background-color: white;

    width: 313px;
    height: 300px;
    margin-top: 20px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Home-Hero-LogoCircle img{
    width: 240px;
    height: 130px;
}
.Home-Hero-Words{
    width: 80%;
    font-size: 17pt;
    margin: 0px;

    color: white;
    
    text-align: center;
}
.Home-Hero-But{
    background-color: #7636C8;
    color: white;
    font-family: var(--Font1);

    width: 190px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 40px;
    border: none;

    text-decoration: none;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Home-Hero-Title-Cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px;
}
.Home-Hero-Title{
    color:red;
    font-family: var(--Font4);
    font-size: 50px;
    margin: 0px;
}
.Home-Hero-Title span{
    color: white;
}
.Home-Hero-SubTitle{
    color: white;
}

@media (max-width:650px) {
    .Home-Hero-Words{
        font-size: 14pt;
    }
    .Home-Hero-Title-Cont{
        padding: 20px 0px;
    }
}
@media (max-width:500px) {
    .Home-Hero-Title{
        font-size: 30pt;
    }
    .Home-Hero-Welcome{
        font-size: 20pt;
    }
    .Home-Hero-SubTitle{
        font-size: 10pt;
    }
    .Home-Hero-Title-Cont{
        padding-bottom: 40px;
    }
}



.Home-Services-Cont{
    background-color: rgb(35, 144, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    border-radius: 20px;
    height: 400px;
    position: relative;
}
.Home-Services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 80px 0px;
}
.Home-Services-R img{
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
}
.Home-Services-R{
    position: absolute;
    width: 100%;
    height: 100%;
}
.Home-Services-L{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 85%;
    position: absolute;
    color: white;
}
.Home-Services-L p{
    text-align: justify;
    line-height: 25px;
    font-size: 14pt;
}
.Home-Services-But{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}
.Home-Services-But:hover{
    background-color: white;
    color: #7636C8;
}


@media (max-width:1056px) {
    .Home-Services-Cont{
        height: 420px;
        margin-bottom: 40px;
    }
}

@media (max-width:1010px) {
    .Home-Services-L p{
        font-size: 12pt;
    }
    .Home-Services-L h1{
        font-size: 15pt;
    }
}
@media (max-width:840px) {
    .Home-Services{
        flex-direction: column;
    }
    .Home-Services-Cont{
        width: 80%;
        height: 300px;
        margin-bottom: 40px;
    }
    .Home-Services-L{
        height: 80%;
    }
}
@media (max-width:545px) {
    .Home-Services-Cont{
        height: 350px;
    }
}
@media (max-width:390px) {
    .Home-Services-Cont{
        height: 400px;
    }
    .Home-Services-L p{
        font-size: 10pt;
    }
    .Home-Services-L h1{
        font-size: 13pt;
    }
}

.Home-Products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c4c2e0;
    padding: 20px 0px;
    width: 100%;
}
.Home-Products-Cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0px;
    font-size: 14pt;
}
.Home-Products-Card{
    background-color: white;
    width: 18%;
    height:400px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 30px;
    text-decoration: none;
    color: black;
    text-align: justify;
    cursor: pointer;
}
.Home-Products-Card:hover{
    background-color: whitesmoke;
}
.Home-Products-Title{
    font-size: 20pt;
}
.Home-Products-But{
    text-decoration: none;
    background-color: white;
    padding: 15px 20px;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}
.Home-Products-Name{
    font-size: 16pt;
    text-align: center;
}
.Home-Product-Img{
    width:100%;
    height: 30%;
    padding-bottom: 20px;
}
.Home-Product-Img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width:1200px) {
    .Home-Products-Name{
        font-size: 14pt;
    }
    .Home-Products-Card{
        height: 300px;
        padding: 20px;
    }
    .Home-Products-Cont{
        font-size: 11pt;
    }
}

@media (max-width:900px) {
    .Home-Products-Card{
        width: 90%;
        margin: 0px;
        padding: 30px 5%;
        height: 250px;
    }
    .Home-Products-Cont{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        width: 90%;
    }

}
@media (max-width:645px) {
    .Home-Products-Card{
        width: 80%;
        margin: 0px;
        padding: 30px 10%;
        height: 250px;
    }
    .Home-Products-Cont{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        width: 90%;
    }
    .Home-Product-Img{
        width: 300px;
        height: 100px;
    }

}
@media (max-width:445px) {
    .Home-Products-Card{
        height: 300px;
    }

}


.NewHome-Services-Cont{
    background-color: var(--bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 50px;

}

.NewHome-Services-Card{
    background-color: var(--color2);
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 20px;
    transition: all 0.3s ease-in;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.178);

}

.NewHome-Services-Card .NewHome-Services-Img{
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.NewHome-Services-Img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.NewHome-Services-Card-Cont{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.3s ease-in;
    color: white;
}

.NewHome-Services-Card-Title{
    font-size: 14pt;
    text-align: center;
    padding-bottom: 10px;
}

.NewHome-Services-Card-Text{
    font-size: 11pt;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    padding-bottom: 0;
    transition: max-height 0.5s ease-in, padding-bottom 0.5s ease-in;
}

.NewHome-Services-Card:hover .NewHome-Services-Card-Text{
    max-height: 150px; 
    padding-bottom: 10px;
}
.NewHome-Services-Card-All{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}
.NewHome-Services-Title{
    font-size: 18pt;
    padding: 20px 0px 50px 0px;
}