.Project-Page{
    padding-bottom: 40px;
}
.Project-Title{
    font-size: 20pt;
    padding-bottom: 30px;
}
.Project-Cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
}
.Project-Card-Cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:60px;

}
.Project-Card{
    width: 350px;
    padding: 20px;
    background-color: #e0e0e0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  19px 19px 38px #b8b8b8,
                 -19px -19px 38px #ffffff;
}
.Project-Card img{
    border-radius: 16px;
    height: 200px;
    object-fit: cover;
}
.Project-Det{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
}
.Project-Det h6{
    font-weight: 400;
    font-size: 14pt;
    margin: 0;
    padding: 30px 0;
}
.Project-Det p{
    margin: 0;
    font-size: 12pt;
    line-height: 20px;
    text-align: justify;
}
.Project-TopHeader{
    width: 100%;
    height: 30vh;
    position: relative;
}
.Project-TopHeader img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    filter: brightness(0.4);
    object-fit: cover;
}
.Project-TopHeader div{
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    color: white;
}

@media (max-width:1366px) {
    .Project-Card{
        width: 300px;
    }
}
@media (max-width:1212px) {
    .Project-Card{
        width: 250px;
    }
    .Project-Card-Cont{
        grid-gap:40px;
    }
}
@media (max-width:1014px) {
    .Project-Card{
        width: 280px;
    }
    .Project-Card-Cont{
        grid-gap:50px;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:750px) {
    .Project-Card{
        width: 300px;
    }
    .Project-Card-Cont{
        grid-gap:50px;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:380px) {
    .Project-Card{
        width: 280px;
    }
    .Project-Card-Cont{
        grid-gap:50px;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:360px) {
    .Project-Card{
        width: 230px;
    }
    .Project-Card-Cont{
        grid-gap:50px;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:600px) {
    .Project-Filler{
        height:8vh;
    }
}