@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

:root{
  --Font1:"Josefin Sans", system-ui;
  --Font2:"Architects Daughter", system-ui;
  --Font3:"Mr Dafoe", system-ui;
  --Font4:"Jockey One", sans-serif;
  --bg:#ffffff;
  --color1:#022b3a;
  --color2:#1f7a8c;
  --color3:#bfdbf7;
  --color4:#e1e5f2;
}

body {
  margin: 0;
  font-family: var(--Font1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
